/*Generales*/
* {
    font-family: Roboto, 'Times New Roman', Times, serif;

}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}


/* Top */

.top {
    background-color: #222222;
    color:#F3F3F3;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonDesplegar {
    height: 20px;
}

.logoFront{
    margin-left: 40px ;
}

/* header */

.header {
    background-color: #F0A83E;
    color: white;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/**/

footer { background-color:rgb(60,35,19) ; height: 400px; display:center; 

}


.centrar-footer {display:flex;
                align-items: center;

} 

.fondo-banner { 
background-image: url ('./img/Background.png ');
background-size: contain;
}

.bullets-estilos { list-style-type: none;
                font-family: 'Roboto', sans-serif;

}

.posicion-logo {
    display:block;
    margin-left: 1300px;
    margin-right: 100px ;
}

.tipografia {
            font-size: 20px;
            color: #FFFFFF;
            font-weight: 700;
}

.subtitulos-footer {
            font-size: 10px;
            color:#8A8787;
            font-weight: 700;
}